@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('fonts/bebasneue_regular-webfont.eot');
  src: url('fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bebasneue_regular-webfont.woff2') format('woff2'), url('fonts/bebasneue_regular-webfont.woff') format('woff'), url('fonts/bebasneue_regular-webfont.ttf') format('truetype'), url('fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Medium';
  src: url('fonts/lato-medium-webfont.eot');
  src: url('fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-medium-webfont.woff2') format('woff2'), url('fonts/lato-medium-webfont.woff') format('woff'), url('fonts/lato-medium-webfont.ttf') format('truetype'), url('fonts/lato-medium-webfont.svg#latomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

$primary: #eba208;
* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

html {
  color: $primary;
  font-family: 'Lato Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #090502;
}

.area {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: {
    position: right center;
    attachment: fixed;
    size: cover;
    repeat: no-repeat;
  }
  opacity: 0;
  z-index: 1;
  transform: translateY(-50px);
  transition: all 0.5s ease-in-out;
  &_landing {
    background-image: url(images/landing.jpg);
  }
}

#areaLanding:checked ~ .area.area_landing,
#areaIndex:checked ~ .area.area_index {
  opacity: 1;
  z-index: 2;
  transform: translateY(0px);
}

.tabs {
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
  height: 35px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 700;
  &-item {
    text-transform: uppercase;
    cursor: pointer;
  }
}

#tabMethlab:checked ~ .tabs .tabs-item.tabs-item_methlab,
#tabMeth:checked ~ .tabs .tabs-item.tabs-item_meth, 
#tabCompetitors:checked ~ .tabs .tabs-item.tabs-item_competitors, 
#tabAbout:checked ~ .tabs .tabs-item.tabs-item_about, 
#tabContact:checked ~ .tabs .tabs-item.tabs-item_contact {
  border-bottom: 2px solid;
}
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 50px;
  background: {
    position: right center;
    attachment: fixed;
    size: cover;
    repeat: no-repeat;
  }
  opacity: 0;
  z-index: 1;
  transform: translateY(-50px);
  transition: all 0.5s ease-in-out;
  &_methlab {
    background-image: url(images/methlab.jpg);
  }
  &_meth {
    background-image: url(images/meth.jpg);
  }
  &_competitors {
    background-image: url(images/competitors.jpg);
  }
  &_about {
    background-image: url(images/about.jpg);
  }
  &_contact {
    background-image: url(images/contact.jpg);
  }
}

#tabMethlab:checked ~ .content.content_methlab,
#tabMeth:checked ~ .content.content_meth, 
#tabCompetitors:checked ~ .content.content_competitors, 
#tabAbout:checked ~ .content.content_about,
#tabContact:checked ~ .content.content_contact {
  opacity: 1;
  z-index: 2;
  transform: translateY(0px);
}

a,
.a {
  text-decoration: none;
  color: $primary;
  &:hover,
  &:active {
    color: darken($primary, 5%);
  }
}

.bebas {
  font-family: 'Bebas Neue Regular';
}

.uppercase {
  text-transform: uppercase;
}

.action {
  width: 170px;
  position: absolute;
  top: 100px;
  left: 200px;
  &-title {
    margin: 0;
    padding: 10px;
    font-size: 35px;
    text-transform: uppercase;
  }
  &-list {
    list-style-type: none;
    padding: 0;
  }
  &-checkbox#actionFirst:checked ~ &-list &-item:nth-child(1) {
    background-color: $primary;
    color: black;
  }
  &-checkbox#actionSecond:checked ~ &-list &-item:nth-child(2) {
    background-color: $primary;
    color: black;
  }
  &-checkbox#actionThird:checked ~ &-list &-item:nth-child(3) {
    background-color: $primary;
    color: black;
  }
  &-item {
    border: 2px solid $primary;
    margin: 10px;
    border-radius: 20px;
    max-width: 150px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    label {
      cursor: pointer;
      padding: 10px;
      display: inline-block;
      width: 100%;
    }
  }
  &-checkbox#actionFirst:checked ~ &-response {
    height: 200px;
    opacity: 1;
  }
  &-response {
    height: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
  &-go {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
}

.toggle-hidden {
  display: none;
}