@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('fonts/bebasneue_regular-webfont.eot');
  src: url('fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bebasneue_regular-webfont.woff2') format('woff2'), url('fonts/bebasneue_regular-webfont.woff') format('woff'), url('fonts/bebasneue_regular-webfont.ttf') format('truetype'), url('fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Medium';
  src: url('fonts/lato-medium-webfont.eot');
  src: url('fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-medium-webfont.woff2') format('woff2'), url('fonts/lato-medium-webfont.woff') format('woff'), url('fonts/lato-medium-webfont.ttf') format('truetype'), url('fonts/lato-medium-webfont.svg#latomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

$primary: #eba208;
* {
  box-sizing: border-box;
}

@mixin Bebas {
  font-family: 'Bebas Neue Regular', Verdana, sans-serif;
}

@mixin user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-center {
  text-align: center;
}

html {
  color: $primary;
  font-family: 'Lato Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #090502;
}

.area {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: {
    position: right center;
    attachment: fixed;
    size: cover;
    repeat: no-repeat;
  }
  opacity: 0;
  z-index: 1;
  transform: translateY(-50px);
  transition: all 0.5s ease-in-out;
  &_landing {
    background-image: url(images/landing.jpg);
  }
}

#areaLanding:checked ~ .area.area_landing,
#areaIndex:checked ~ .area.area_index {
  opacity: 1;
  z-index: 2;
  transform: translateY(0px);
}

.tabs {
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
  height: 35px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 700;
  &-item {
    text-transform: uppercase;
    @include Bebas;
    cursor: pointer;
    @include user-select;
  }
}

#tabMethlab:checked ~ .tabs .tabs-item.tabs-item_methlab,
#tabMeth:checked ~ .tabs .tabs-item.tabs-item_meth,
#tabCompetitors:checked ~ .tabs .tabs-item.tabs-item_competitors,
#tabAbout:checked ~ .tabs .tabs-item.tabs-item_about,
#tabContact:checked ~ .tabs .tabs-item.tabs-item_contact {
  border-bottom: 2px solid;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 50px;
  background: {
    position: right center;
    attachment: fixed;
    size: cover;
    repeat: no-repeat;
  }
  opacity: 0;
  z-index: 1;
  transform: translateY(-50px);
  transition: all 0.5s ease-in-out;
  &_methlab {
    background-image: url(images/methlab.jpg);
  }
  &_meth {
    background-image: url(images/meth.jpg);
  }
  &_competitors {
    background-image: url(images/competitors.jpg);
  }
  &_about {
    background-image: url(images/about.jpg);
  }
  &_contact {
    background-image: url(images/contact.jpg);
  }
}

#tabMethlab:checked ~ .content.content_methlab,
#tabMeth:checked ~ .content.content_meth,
#tabCompetitors:checked ~ .content.content_competitors,
#tabAbout:checked ~ .content.content_about,
#tabContact:checked ~ .content.content_contact {
  opacity: 1;
  z-index: 2;
  transform: translateY(0px);
}

a,
.a {
  text-decoration: none;
  color: $primary;
  &:hover,
  &:active {
    color: darken($primary, 5%);
  }
}

.bebas {
  font-family: 'Bebas Neue Regular';
}

.uppercase {
  text-transform: uppercase;
}

.toggle-hidden {
  display: none;
}

.action {
  width: 170px;
  position: absolute;
  top: 100px;
  left: 200px;
  &-title {
    margin: 0;
    padding: 10px;
    font-size: 35px;
    text-transform: uppercase;
    @include Bebas;
  }
  &-list {
    list-style-type: none;
    padding: 0;
  }
  &-checkbox#actionFirst:checked ~ &-list &-item:nth-child(1) {
    background-color: $primary;
    color: black;
  }
  &-checkbox#actionSecond:checked ~ &-list &-item:nth-child(2) {
    background-color: $primary;
    color: black;
  }
  &-checkbox#actionThird:checked ~ &-list &-item:nth-child(3) {
    background-color: $primary;
    color: black;
  }
  &-item {
    border: 2px solid $primary;
    margin: 10px;
    border-radius: 20px;
    max-width: 150px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    @include Bebas;
    label {
      cursor: pointer;
      padding: 10px;
      display: inline-block;
      width: 100%;
    }
  }
  &-checkbox#actionFirst:checked ~ &-response {
    height: 200px;
    opacity: 1;
  }
  &-response {
    height: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
  &-go {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    @include Bebas;
  }
}

.panel {
  &_title {
    text-transform: uppercase;
    @include Bebas;
    font-size: 70px;
    font-weight: 800;
    text-shadow: 2px 2px 4px black;
  }
  &_right {
    text-align: right;
  }
  &_content {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 1px 1px 2px black;
  }
}

.panel-group_methlab {
  position: absolute;
  width: 820px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  .panel {
    &_title {
      width: 400px;
      float: left;
      text-align: right;
    }
    &_content {
      float: left;
      width: 420px;
      padding-top: 7px;
      padding-left: 7px;
    }
  }
}

.panel-group_meth {
  position: absolute;
  width: 510px;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  .panel {
    &_title {
      width: 510px;
      text-align: right;
      font-size: 55px;
      > span {
        display: inline-block;
        &:nth-child(2) {
          font-size: 142px;
          line-height: 110px;
        }
        &:nth-child(3) {
          font-size: 99px;
          line-height: 80px;
        }
        > span {
          display: block;
        }
      }
    }
    &_content {
      width: 510px;
    }
  }
}

.panel-group_competitors {
  position: absolute;
  width: 510px;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  .panel {
    &_title {
      width: 400px;
      text-align: right;
      font-size: 55px;
      > span {
        display: inline-block;
        > span {
          display: block;
        }
        &:nth-child(1) {
          font-size: 50px;
          line-height: 34px;
          border-right: 8px solid;
          padding: 2px 8px 2px;
          span:nth-child(2) {
            font-size: 99px;
            line-height: 90px;
          }
        }
        &:nth-child(2) {
          text-align: left;
          font-size: 99px;
          line-height: 90px;
        }
      }
    }
    &_content {
      width: 431px;
      padding-top: 10px;
      padding-left: 80px;
    }
  }
}